<ion-view view-title="Coconut">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
      <button class="button button-block button-positive">
        Sign In
      </button>
      <small>Don't have an account yet? <a nav-transition="none" href="#/sign-up">Sign up!</a></small>
    </div>
    
  </ion-content>
</ion-view>
