<ion-view view-title="Coconut">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Confirm Password">
      </label>
      <button class="button button-block button-positive">
        Sign Up
      </button>
      <small>Already have an account? <a nav-transition="none" href="#/sign-in">Log in!</a></small>
    </div>
    
  </ion-content>
</ion-view>
